input[type=text]{
	
	border:2px solid rgba(255,255,255,.5);
	font-size:1.75em;
	padding:.25em .5em .3125em;
	color:rgba(255,255,255,.5);
	border-radius:.25em;
	background:transparent;
	transition:all .100s;
	position:absolute;
	left:30%;
	width: 40%;
	bottom: 200px;
	
	&:focus{
		outline:none;
		color:rgba(255,255,255,.75);
		border-color:rgba(255,255,255,.75);
	}
	
	&.keyup {
		color:#D64316;
		border-color:white;
		text-shadow:0 0 .125em white;
		box-shadow:0 0 .25em white,inset 0 0 .25em white;
	}
}

canvas {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	pointer-events:none;
}

input, a, label{
	font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}

$placeholder-color:rgba(255,255,255,.5);

::-webkit-input-placeholder {
	color:$placeholder-color;
	text-shadow:0 0 .125em transparent;
	transition:all .25s;
}

input:focus::-webkit-input-placeholder {
	opacity:.5;
}

::-moz-placeholder {
	color:$placeholder-color;
	text-shadow:0 0 .125em transparent;
	transition:all .25s;
}
input:focus::-moz-placeholder {
	opacity:.5;
}

:-ms-input-placeholder {
	color:$placeholder-color;
	text-shadow:0 0 .125em transparent;
	transition:all .25s;
}
input:focus:-ms-input-placeholder {
	opacity:.5;
}

html,body {
	height:100%;
	overflow:hidden;
}

html {
	background:#333 url(https://cdn.dribbble.com/users/504740/screenshots/5688861/elements.jpg) no-repeat center bottom;
	/*background:#333 url(img/backgound.jpg) no-repeat center bottom;*/
	/*background:#333 url(https://steamusercontent-a.akamaihd.net/ugc/921419596799639780/0B3BBFE4CEFCEFF40798C3C375F16344023F161C/) no-repeat center bottom;*/
	background-size:cover;
}

body {
	box-shadow:inset 0 0 5em #000; 
}

input [type=text]{
	box-sizing:border-box;
	bottom: 4em;
	position:absolute;
	left:50%;
	width:11em;
	margin-left:-5.5em;
}

.logo_tm{
	width: 800px;
	display: block;
  	margin: 0 auto;
}

a:link, a:active {
color:rgba(255,255,255,.5);
font-weight:200;
text-decoration:none
}
a:visited {
color:#66cc66;
font-weight:200;
}
a:hover {
color:rgba(255,255,255,.8);
font-weight:200;
text-decoration:none
}

a.version{
	color: rgba(215, 44, 44, 0.8);
	position:absolute;
	bottom: 40px;
	/*left:50%;*/
	margin-left:20px;
}

a.version:hover {
	color: rgba(215, 44, 44, 1);
	position:absolute;
	bottom: 40px;
	/*left:50%;*/
	margin-left:20px;
}

a.donate{
	color: rgb(255, 255, 255, .8);
	position:absolute;
	bottom: 20px;
	/*left:50%;*/
	margin-left:20px;
}

a.donate:hover {
	color: rgb(255, 255, 255, 1);
	position:absolute;
	bottom: 20px;
	/*left:50%;*/
	margin-left:20px;
}

.btn{
	display: none;
}

#is_kava{
	position: absolute;
    left: 30%;
    bottom: 255px;
}

#is_git{
	position: absolute;
    left: 40%;
    bottom: 255px;
}

label#kava{
	position:absolute;
	left:31%;
	bottom: 250px;
	font-size:1em;
	padding:.25em .5em .3125em;
	color:rgba(255,255,255,.4);
	border-radius:.25em;
	background:transparent;
	transition:all .100s;
}

label#is_git{
	position:absolute;
	left:41%;
	bottom: 250px;
	font-size:1em;
	padding:.25em .5em .3125em;
	color:rgba(255,255,255,.4);
	border-radius:.25em;
	background:transparent;
	transition:all .100s;

}